<!DOCTYPE html>
<html lang="en" >
<head>

 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<title> Dashboard </title>
</head>
<body>
<div class="container">
	<h2>View Enquiry</h2>
	
	<a href="enquiry" class="link-primary"><u>Add New Enquiry</u></a>&nbsp;&nbsp;
	<a href="enquiries" class="link-primary"><u>View Enquires</u></a>&nbsp; &nbsp;
	
	<a href="/"><button type="submit" class="btn btn-danger">Logout</button></a>
	
	<form th:action="@{/filter-enqs}" th:object= "${enq}"  method="POST">
	<table>
		
		
		<td>ClassMode : </td>
		<td>
	    <select	th:field= "*{classMode}">
	    <option value="">-select-</option>
	    <option value="Classroom">classroom</option>
	    <option value="online"> online</option>
	    </select>
	    </td>
		
		<td>CourseName :  </td>
		<td>
	    <select	th:field="*{course}">
	    <option value="">-select-</option>
	    <option value="java">java</option>
	    <option value="python">python</option>
	    <option value="devOps">devOps</option>
	    </select>
	    </td>
		
		<td>Status :</td>
		<td>
	    <select	th:field="*{status}">
	    <option value="">-select-</option>
	    <option value="new">new</option>
	    <option value="enrolled"> enrolled</option>
	    <option value="lost">Lost</option>
	    </select>
	    </td>
	    
		<td>
		<input type="submit" class="btn-btn-primary" value="search" />
		</td>	
		</table>
	</form>
 
<table class="table table-striped table-bordered">
<thead class="table-dark">
<tr>
<th>id</th>
<th>name</th>
<th>Phno</th>
<th>Course Name</th>
<th>Class Mode</th>
<th>Status</th>
<th>Actions</th>
</tr>
</thead>


<tbody>
<tr th:each="enq:${enqs}">
 <td th:text ="${enq.Enquiry_id}"></td>
    <td th:text ="${enq.name}"></td>
    <td th:text ="${enq.phno}"></td>
    <td th:text= "${enq.course}"></td>
    <td th:text ="${enq.classMode}"></td>
    <td th:text="${enq.status}"></td>
    <td>
    <a th:href="@{/enquiry}" class="btn btn-primary">edit</a>
    </td>
</tr>
</tbody>
</table>
</div>


		
</body>
</html>